.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  border: 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  color: #f1f1f1;
}

.card .card-header.no-border {
  border: 0;
}

.card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #fff;
}

.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}

/* DATE CIRCLES - Dark mode */
.widget-49 .widget-49-title-wrapper div[class^="widget-49-date-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-day {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-month {
  color: #ccc;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
}

/* Meeting Info */
.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
  color: #eee;
  font-size: 14px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
  color: #aaa;
  font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: 0.5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  color: #bbb;
  display: list-item;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
  margin-left: 0.5rem;
}

.widget-49 .widget-49-meeting-action {
  text-align: right;
}

.widget-49 .widget-49-meeting-action a {
  text-transform: uppercase;
  color: #ddd;
}

.widget-49 .widget-49-meeting-action a:hover {
  color: #fff;
}

.time {
  position: relative;
  margin-left: 1em;
}

.time span {
  font-size: 12px;
  color: #999;
  line-height: 25px;
}

.time a span {
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 10px;
  font-size: 12px;
  background-color: #444;
  color: #eee;
}
